*{
    margin: 0;
    padding: 0;
    background-color: #000000;
}
header{
    background-color:transparent;
    width:100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.logo{
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
}
nav{
    margin-right: 30px;
    transition: 0.5s ease-in;
}
a{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    margin: 20px;
}
nav a{ 
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
section div{
display:flex;
flex-direction: column;
gap: 3rem;
}
.school,.pu,.OQ {
    border: 1px solid #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width:auto;
}
div img {
    display: block;
    margin-right: auto;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.5s ease;
}
h2{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #fff;    
    text-align: center;
}
h1{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: #fff;    
    text-align: center;
} 
.school,.pu{
    display: flex;
    flex-direction: row-reverse;
}
.OQ{
    display: flex;
    flex-direction: row;
}
.content{
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
    font-family: "Itim", cursive;
    font-style: normal;
    text-align: justify;
    color: #fff;    
    font-size: 20px;
    line-height:30px;
}
img:hover{
    transform: scale(1.1);
    cursor: none;
}
