*{
    margin: 0;
    padding: 0;
    background-color: #000000;
}
header{
    background-color:transparent;
    width:100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.logo{
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
}
nav{
    margin-right: 30px;
    transition: 0.5s ease-in;
}
.Content{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    color: #fff;
}
a{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    margin: 20px;
}
nav a:hover{ 
   text-decoration: underline;
}
section{
    display: flex;
    margin-left:20px ;
    align-items: center;
    gap: 8rem;
    line-height: 1.2;
}
section h1{
    font-size: 50px;
    
}
